#chat-container {
    width: 100%;
}

#messages-container {
    height: calc(65vh - 116px);
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    margin-top: auto;
    background-color: white;
}

#messages { 
    font-size: 13px;
    list-style-type: none; 
    margin-top: auto;
    padding: 0 10px;
    word-wrap: break-word;
}

#chat-box { 
    background-color: white;
    padding: 20px 5px 10px 5px;
    position: fixed;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex: 1;
    justify-content: center;
}

#chat-box #type-input { 
    border: 0; 
    padding: 10px;
    margin-right: 0.5%;
    border-radius: 20px;
    background-color: #f2f2f2;
    outline: none;
}

#send-button { 
    font-weight: bold;
    background: black;
    border: none; 
    padding: 10px;
    border-radius: 5px;
    color: white;
}