.card {
    width: 7rem;
    height: 8.5rem;
    padding: 10px 5px;
    border: solid black 1px;
    margin: 1rem;
    font-size: 14px;
    cursor: pointer;
    vertical-align: text-top;
    user-select: none;
    -moz-user-select: none;
    font-weight: bold;
}

.card:disabled {
    color: black;
    cursor: default;
}

.card:focus, .selected {
    outline: none;
    border: solid black 3px;
}

.black-card {
    background-color: black;
    color: white;
}