.Container {
    height: 100%;
    display: grid;
    place-items: center;
}

.Login {
    margin: 5px;
    margin-top: 10vh;
    display: grid;
    place-items: center;
    box-shadow: 5px;
    padding:10px;
    border: 1px solid #ccc ;
    box-shadow: 1px 1px 5px #888888
}

.MainTitle{
    font-size: 4em;
    margin: 10px;

}

.Title{
    font-size: 2.5em;
    margin: 10px;
}

.CredentialField {
    display: inline-block;
    place-items: center;
    margin: 5px;
    width: 100%;
}
.CredentialField label {
    font-size: 1.5em;
    height: 100%;
    margin-top: 15px;
}

.CredentialField input {
    padding: 10px;
    float:right;
    border-width: 1px;
    border-radius: 5px;
}


.LoginForm {
    margin:20px auto;
    display: flex;
    flex-direction: column;
}


.ButtonContainer {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.Button {
    background-color: #4A86E8;
    border-width: 1px;
    color: white;
    margin: 5px;
    font-size: 14px; 
    padding: 10px 40px;
    width: 100%;
    border-radius: 5px;
    white-space: nowrap;
    text-align:center;
}


/* Handle Small devices */
@media screen and (max-width: 540px) {

    .CredentialField label {
        font-size: 1.3em;
        vertical-align: center;
    }

    .Title{
        font-size: 2.5em;
        margin: 10px;
    }

    .MainTitle{
        font-size: 3em;
        margin: 10px;
    }
}